.client-list {
  @extend %center-flex;
  justify-content: center;
}
.client-link {
  width: 170px;
  height: 92px;
  @extend %center-flex;
  justify-content: center;
  border: 1px solid $team-color;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 30px;
  &:hover,
  &:focus {
    color: $accent-color;
    border: 1px solid $btn-hov-foc-color;
  }

  align-items: center;

  color: $team-color;

  transition: color $duration $timing-fuction;
}
.client-icon {
  fill: currentColor;
}
.section-client {
  margin-bottom: 50px;
}
