.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}
.container-contact {
  margin-left: auto;
}

.header-list {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 93px;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-item > .contact-link {
  display: flex;
  align-items: center;
}
.header-item .link {
  display: flex;
  align-items: center;
}
.site-nav .link {
  text-decoration: none;
  transition: color 250ms var(--timing-fuction);
}
.site-nav .link.curent {
  color: var(--accent-color);
}
.site-nav .link:focus,
.site-nav .link:hover {
  color: var(--accent-color);
  align-items: center;
}

.site-nav .link {
  display: block;

  color: var(--primary-text-color);
}
.site-nav,
.section-title {
  color: var(--primary-text-color);
}
