.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid $border-bottom;
}

.header-container {
  @extend %center-flex;
}
.container-contact {
  margin-left: auto;
}

.header-list {
  @extend %center-flex;
}
.header-logo {
  margin-right: 93px;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-item > .contact-link {
  @extend %center-flex;
}
.header-item .link {
  @extend %center-flex;
}
.site-nav .link {
  text-decoration: none;
  transition: color $duration $timing-fuction;
}
.site-nav .link.curent {
  color: $accent-color;
}

.site-nav .link {
  display: block;

  color: $primary-color;

  &:hover,
  &:focus {
    color: $accent-color;
    align-items: center;
  }
}
.site-nav,
.section-title {
  color: $primary-color;
}
